.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 769px) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 20px;
        position: relative;
        z-index: 1;
    }
}
