.flexbox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

    gap: 10px;

    button {
        margin-top: 10px;
    }

    @media (min-width: 769px) {
        justify-content: space-between;
    }




}

.formcontainer {
    height: 3rem;
}

.otherSections {
    background-color: var(--background-2);
    /* Cor de fundo desejada */
    padding: 20px;
    border-radius: 8px;
    /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}