%butttonDefaults {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;

    transition: 0.4s;
}

.btn {
    @extend %butttonDefaults;
    padding: 0 16px;
    height: 3rem;
    border-radius: 4px;

    &.solid {
        color: var(--grey-0);

        &.primary {
            background: var(--color-primary);

            &:hover {
                background: var(--color-primary-focus);
            }
        }

        &.negative {
            background: var(--color-red);

            &:hover {
                background: var(--color-negative-focus);
            }
        }

        &.big{
            font-size: 1.2rem;
            font-weight: 600;
        }

        &.primaryNegative {
            background: var(--color-negative-focus);

            &:hover {
                background: var(--color-red);
            }
        }

        &.grey1 {
            background: var(--grey-1);

            &.disabled {
                background: var(--grey-2);
            }

            &:hover {
                background: var(--grey-1);
            }
        }

        &.grey3 {
            background: var(--grey-3);

            &:hover {
                background: var(--grey-2);
            }
        }

        &.notFull {
            width: 6.25rem;
        }

        &.full{
            width: 100%;
        }

        &.small {
            max-width: 200px;
        }

    }
}