.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.background{ 
    min-height: 85vmax;
    background-color: var(--background-all);
}

.content {
    margin-left: 310px; 
    padding: 20px;
}