.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
 
}

.ajustPage{
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 769px) {
        flex-direction:row;
        justify-content: space-between; 
    }
}

.divChildren {
    max-width: 100%;

    @media (min-width: 769px){
        min-width: 480px;
    }
}

.content {
    margin-left: 310px;
    padding: 20px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background-all);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--grey-1);
        border-radius: 10px;
    }
}