:root{
    --color-primary:  #0026D9;
    --color-secondary:  #002198;
    --color-error:  #59323F;
    --color-red: #E70327;
    --color-sucess: #3FE864;

    --grey-0: #F8F9FA;
    --grey-1: #F0F1F2;
    --grey-2: #868E96;
    --grey-3: #343B41;
    --grey-4: #212529;
    --grey-5: #121214;
    
}