.overlayBox {
  position: fixed;
  inset: 0;
  /* top, left, bottom, right */
  width: 100%;
  height: 100vh;
  background: var(--color-black20);

  z-index: 98;

  display: flex;
  align-items: center;
  justify-content: center;

  .modalBox {
    position: relative;
    padding: 2rem;
    background: var(--background-2);
    width: 100%;
    max-width: 1300px;
    max-height: 95%;
    margin: 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    
    .formContent {
      width: 100%;
      max-height: 95%;

      margin: 0 1rem;
      overflow: auto;

      button {
        margin-bottom: 1.5rem;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--grey-1);
        border-radius: 10px;
      }
    }

    .closeButton {
      position: absolute;
      top: 15px;
      right: 15px;
      color: var(--color-negative-focus);
    }

    .closeButton:hover {
      color: var(--color-red);
    }

    .contentBox {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 16px;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      background: var(--background-all);

      border: 1px solid var(--grey-3);
      border-radius: 10px;
      padding: 15px;
    }
  }
}

.noRegisterH1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentBoxGrid {
  width: 100%;
  max-height: 500px;
  display: flex;
  gap: 16px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  background: var(--background-all);

  border: 1px solid var(--grey-3);
  border-radius: 10px;
  padding: 15px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--grey-1);
    border-radius: 10px;
  }
}
