.flexbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputiten {
    min-width: 150px;
    border-color: none;
    border-radius: 50px;
    background-color: var(--grey-2);
    padding: 15px 19px;

    color: var(--grey-0);

    :focus {
        border-color: var(--grey-0);
    }
}