.background {
  background: var(--background-all);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  img {
    max-width: 9rem;
  }
}

.flexBoxDivText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.overlaySpinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 7px solid #f3f3f3;
    border-top: 7px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
